version: "3"
services:
  nginx:
    build: ./docker/nginx
    ports:
      - 8000:80
    depends_on:
      - api
      - ui
  api:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    container_name: api
    ports:
      - 8080
    environment:
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_HOST=mongo
      - DB_PORT=27017
      - DB_NAME=cvd19
      - NEWSAPI_API_KEY=${NEWSAPI_API_KEY}
  ui:
    build:
      context: .
      dockerfile: ./docker/ui/Dockerfile
      args:
        - SERVER_URL=${SERVER_URL}
        - GOOGLE_API_KEY=${GOOGLE_API_KEY}
    container_name: ui
    ports:
      - 80
  mongo:
    image: mongo:3.6.17
    container_name: mongo
    ports:
      - 27017
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASS}
  mongo-init:
    build:
      context: .
      dockerfile: ./docker/mongo-init/Dockerfile
    container_name: mongo-init
    depends_on:
      - mongo
    environment:
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - DB_HOST=mongo
